<a href="https://colab.research.google.com/github/berlotto/preco-boi/blob/main/preco_boi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install xlrd --upgrade

Requirement already up-to-date: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [2]:
!pip install openpyxl --upgrade

Requirement already up-to-date: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.7)
Requirement already satisfied, skipping upgrade: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [8]:
import pandas as pd
from urllib.request import urlretrieve
import xlrd

In [9]:
xlrd.info.__VERSION__

'2.0.1'

In [10]:
fileurl = 'https://cepea.esalq.usp.br/br/indicador/series/boi-gordo.aspx?id=2'
filename = 'precos.xlsx'

urlretrieve(fileurl, filename)

('precos.xlsx', <http.client.HTTPMessage at 0x7f0a19f18d50>)

In [13]:
# df = pd.read_excel(filename)
# from openpyxl import load_workbook
# wb2 = load_workbook(filename)
book = xlrd.open_workbook(filename=filename, ignore_workbook_corruption=True)

In [21]:
df = pd.read_excel(book, skiprows=4)

In [22]:
df.head()

   23/07/1997  26.67  24.65
0  24/07/1997  26.67  24.65
1  25/07/1997  26.71  24.68
2  28/07/1997  26.74  24.70
3  29/07/1997  26.77  24.72
4  30/07/1997  26.75  24.71